/* components */
@import url("../components/SubmitButton.css");
@import url("../components/Navbar.css");

/* pages */
@import url("../pages/auth/AuthPages.css");
@import url("../pages/Evaluation/EvaluationPages.css");

html,
body {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(#06b602, #037201);
  background-color: black;
  background-repeat: space;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.DefaultPage {
  width: 100vw;
  max-width: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.StyledLink {
  color: black !important;
  text-decoration: none;
  position: relative;
}
.StyledLink::before {
  content: "";
  background-color: #43f340;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
}
.StyledLink:hover::before {
  bottom: 0;
  height: 100%;
}
.StyledLink::before {
  content: "";
  background-color: #43f340;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
